<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CEOs info</title>
</head>
<body>

<h2>Aida Sagadat</h2>
<ul>
    <li>Co-SEO of The Great Timurid company</li>
    <li>29 years old</li>
    <li>Citizenship: UAE</li>
    <li>Wealth: $50.000.000</li>
    <li>Languages:
        <ul>
            <li>Kazakh: native</li>
            <li>Russian: fluent</li>
            <li>English: fluent</li>
            <li>Turkish: fluent</li>
            <li>Arabic: advanced</li>
            <li>Spanish: intermediate</li>
        </ul>
    </li>
</ul>


<hr>

<h2>Emir Kozcuoglu</h2>
<ul>
    <li>Co-SEO of The Great Timurid company</li>
    <li>36 years old</li>
    <li>Citizenship: Turkey</li>
    <li>Wealth: $85.000.000</li>
    <li>Languages:
        <ul>
            <li>Turkish: native</li>
            <li>English: fluent</li>
        </ul>
    </li>
</ul>



</body>
</html>