<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Timurid Company Home Page</title>
</head>
<body>
    <h2>Timurid Company Home Page</h2>

    Welcome to TIMURID company home page!

    <br>
    <hr>
    <br>

    User: <span sec:authentication="principal.username"></span>
    <br>
    Role(s): <span sec:authentication="principal.authorities"></span>

    <br>
    <br>

    <a th:href="@{/leaders}">Leadership Meeting</a> (Only for Managers)
    <!-- <a th:href="@{/CEO}">CEO info</a> (Only for CEOs) -->


    <a th:href="@{/ceos}">
        Timurid company's Co-CEOSs' information
    </a> (Strict access)


    <br>
    <br>

    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" />
    </form>

</body>
</html>


















